<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <style>
      html, body {
        height: 100%;
      }

      img.resize {
       height: 50%;
       width: 50%;
      }
      </style>
    
{% seo %}
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        
        <img class="resize" src="{{site.baseurl}}/Gavras-Konstantin-github.jpg" width="300" height="300">
        
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>
        
        <p><a href="{{site.baseurl}}/CV.pdf">Curriculum Vitae</a></p>

        <p>e-Mail: <a href="mailto:konstantin@gavras.de"><font color="black">konstantin@gavras.de</font></a></p>
        
        <a href="https://twitter.com/kongavras?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @kongavras</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        <a class="github-button" href="https://github.com/KostaGav" aria-label="Follow @KostaGav on GitHub">Follow @KostaGav</a>
       
       </header>
      
       <ul class = "menu">
                  <li class = "menu"><a href="/">Home</a></li>
                  <li class = "menu"><a href="/research">Research</a></li>
                  <li class = "menu"><a href="/projects">Projects</a></li>
                  <li class = "menu"><a href="/contact">Contact</a></li>
        </ul>

      <section>
        {{ content }}
      </section>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
